{% extends "../common/header.html %}
{% block content %}

<table border="10">
    <tr>
        <td>server name</td>
        <td>status</td>
        <td>action</td>
        <td>updated</td>
        <td>created</td>
        <td>information</td>
    </tr>
    <tr>
        <td>{{ server_info.name }}</td>
        <td>{{server_info.get_status_display }}</td>
        <td>{{server_info.get_action_display }}</td>
        <td>{{server_info.updated}}</td>
        <td>{{server_info.created}}</td>
        <td>{{server_info.info}}</td>
    </tr>
</table>
<br>
<form action="{% url 'server_detail' server_info.id %}" method="post">
    {% csrf_token %}

        <td>{{ form }}
        <input type="submit" value="Update">{{ form.name }}
            </td>
</form>


{% endblock %}