{% extends "../common/header.html %}
{% block content %}
{% if server_list %}
<table>
    <tr>
        <th> Server name </th>
        <th> Status </th>
        <th> Clients </th>
        <th> Information </th>
    </tr>
        {% for server in server_list %}

    <tr>
        <th><a href="{{server.id}}/detail">{{ server.name }}</a></th>
        <th>{{ server.get_status_display  }}</th>
        <th><a href="{{server.id}}">{{ server.num_client }} deployed</a></th>
        <th>{{ server.info }} </th>
    </tr>

        {% endfor %}

</table>
{% else %}
    <p>No servers are available</p>
{% endif %}

<form action="/server/add" method="post">
    {% csrf_token %}
    <th>Server name</th>

    </tr>
    <tr>
        <th>{{ form.name }}
            </th>
        </th>
    <tr>
    <th><input type="submit" value="Create"></th>
        </tr>
</form>

{% endblock %}
