{% extends "../common/header.html %}
{% block content %}

{% if client_list %}
<table border="10">
    <tr>
        <td> name </td>
        <td> status </td>
        <td> version </td>
        <td> hosted_on </td>
        <td> created </td>
        <td> updated </td>
    </tr>
        {% for client in client_list %}
    <tr>
        <td><a href="{{client.id}}/">{{ client.name }}</a></td>
        <td> {{ client.get_status_display }} </td>
        <td> {{ client.version }} </td>
        <td> <a href="{{ client.hosted_on_id }}"> {{ client.hosted_on }} </a> </td>
        <td> {{ client.created|date:'Y-m-d' }} </td>
        <td> {{ client.updated|date:'Y-m-d' }} </td>
    </tr>
        {% endfor %}




</table>
{% else %}
    <p>No client are available</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if client_list.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ client_list.previous_page_number }}">previous</a>
        {% endif %}

     <span class="current">
         Page {{ client_list.number }} of {{ client_list.paginator.num_pages }}.
     </span>
    {% if client_list.has_next %}
        <a href="?page={{ client_list.next_page_number }} ">next</a>
        <a href="?page={{ client_list.paginator.num_pages }}">last &raquo;</a>
    {% endif %}

    </span>
</div>

<br><br>
<table border="1">
    <tr><td>Adding new customer:</td></tr>
    <tr>
<form action="/client/add" method="post">
    {% csrf_token %}
    <td>Customer name</td>
    <td>Hosted on</td>
    <td>Version</td>
    </tr>
    <tr>
        <th>{{ form.name }}
            </th>
        <th>
            {{ form.hosted_on }}
        </th>
        <th>{{ form.version }}</th>
    <tr>
    <th><input type="submit" value="Create"></th>
        </tr>
</form>

</table>

{% endblock %}