{% extends "../common/header.html %}
{% block content %}
{% if version_list %}
<table border="10">
    <tr>
        <td> Version</td>
        <td> Status </td>
        <td> created </td>
    </tr>
        {% for version in version_list %}

    <tr>
        <td>{{ version.name }}</td>
        <td>no status</td>
        <td>{{ version.created }} </td>
    </tr>

        {% endfor %}

</table>
{% else %}
    <p>No servers are available</p>
{% endif %}

<form action="/version/add" method="post">
    {% csrf_token %}
    <th>Version name</th>

    </tr>
    <tr>
        <th>{{ form.name }}
            </th>
        </th>
    <tr>
    <th><input type="submit" value="Create"></th>
        </tr>
</form>
{% endblock %}